/* solveta | IT Solutions & Technology HTML Template  */

@media only screen and (max-width: 1700px) {
	.main-header .header-lower .outer-box .ui-btn-outer {
		border-right: 0;
		margin-right: 0;
		padding-right: 0;
	}

	.search-box-btn.search-box-outer {
		font-size: 16px;
	}

	.main-header .header-lower.boxed {
		width: calc(100% - 0px);
		margin: 0;
	}

	.main-header .main-box .nav-outer {
		gap: 30px;
	}

	.main-header .header-lower .outer-box .theme-btn {
		padding: 14px 33px;
	}

	.main-menu .navigation>li>a {
		padding: 11px 22px 11px;
	}

	.header-style-one .header-lower .logo-box {
		margin-right: 30px;
	}

	.main-header .header-lower.style_two {
		padding: 6px 41px 12px 31px;
	}

	.main-header .header-lower.style_two .main-box .nav-outer {
		gap: 150px;
	}

	.main-header .header-lower.style_three .main-box {
		margin: 0;
	}

	.main-header .header-lower.style_inner-header {
		padding: 7px 60px 7px 20px;
	}

	.about-section-three .about-thumb-wrapper {
		right: 3%;
	}

}

@media only screen and (max-width: 1439px) {
	.main-header .header-lower .logo-box {
		min-width: 195px;
		margin-right: 20px;
	}

	.main-header .header-lower {
		padding: 6px 47px 0 37px;
	}

	.main-header .header-lower .outer-box .theme-btn {
		font-size: 16px;
	}

	.main-header .header-lower .outer-box {
		gap: 0;
	}

	.search-box-btn.search-box-outer {
		display: none;
	}

	.banner-section .banner-shape1 {
		right: 10px;
	}



}

@media only screen and (max-width: 1199px) {
	.header-top {
		margin-left: 0;
		padding: 0;
	}

	.main-header .header-lower.style_two .main-box .nav-outer {
		gap: 20px;
	}

	.main-header .main-box {
		align-items: center;
	}

	.main-header .header-lower .logo-box {
		margin-top: 0;
		min-height: auto;
		min-width: 175px;
	}

	.main-header .header-lower.style_two .main-menu .navigation>li>a {
		font-size: 15px;
		padding: 11px 23px 11px;
	}

	.main-header .header-lower {
		padding: 6px 80px 0 37px;
	}

	.main-menu .navigation>li>a {
		padding: 11px 22px 11px;
		font-size: 15px;
	}

	.main-header .header-lower.style_two {
		padding: 6px 10px 12px 10px;
	}

	.main-header .header-lower.style_two::before {
		width: 210px;
	}

	.main-header .header-lower.style_two .outer-box .theme-btn i {
		display: none;
	}

	.main-header .header-lower .outer-box {
		padding: 10px 0 10px 0;
	}

	.main-header .header-lower.style_two::after {
		width: 220px;
	}

	.banner-section .banner-content-wrap .banner-title h1 {
		font-size: 60px;
		line-height: 66px;
	}

	.banner-section .banner-shape1 {
		right: 0;
	}

	.main-header .main-box .nav-outer {
		gap: 12px;
	}

	.main-header .header-lower .outer-box .theme-btn {
		padding: 12px 20px;
		font-size: 13px;
	}

	.main-header .header-lower .outer-box .theme-btn i {
		right: -50px;
		height: 50px;
		width: 50px;
		line-height: 50px;
	}

	.service-single-boxs .service-thumb {
		flex-shrink: 0.4;
	}

	.service-single-boxs .service-box-contents p {
		font-size: 15px;
		line-height: 26px;
	}

	.pt-100 {
		padding-top: 50px !important;
	}
}

@media only screen and (min-width: 768px) {

	.main-menu .navigation>li>ul,
	.main-menu .navigation>li>ul>li>ul {
		display: block !important;
		visibility: hidden;
		opacity: 0;
	}
}

@media only screen and (max-width: 1023px) {

	.main-header .header-lower {
		padding: 6px 45px 0 37px;
	}

	.main-header .main-menu {
		display: none;
	}

	.main-header .logo {
		min-width: auto;
	}

	.main-header .logo img,
	.sticky-header .logo img {
		width: auto;
		max-width: none;
		max-height: 45px;
	}

	.main-header .header-lower .outer-box {
		gap: 20px;
		padding: 10px 0 10px 0;
	}

	.main-header .header-lower .outer-box .menu-btn {
		display: block;
	}

	.mobile-nav-toggler {
		display: block;
		margin-left: 60px;
	}

	.main-header .ui-btn {
		font-size: 24px;
		line-height: 35px;
		margin-left: 15px;
	}


	.main-header .main-box .nav-outer {
		width: auto;
	}

	.main-header .main-box {
		justify-content: space-between;
	}

	.header-style-one .header-lower {
		padding-right: 20px;
	}

	.main-header .header-lower.style_two::after {
		width: 320px;
	}

	.main-header .header-lower.style_two .outer-box .theme-btn i {
		display: block;
	}

}

@media only screen and (max-width: 767px) {

	.main-header .main-menu {
		display: none;
	}

	.mobile-nav-toggler {
		display: block;
		margin-left: 20px;
	}

	.main-header .header-lower .outer-box .menu-btn {
		display: none;
	}

	.mobile-nav-toggler.style-two {
		color: var(--heading-color);
	}



}

@media only screen and (max-width: 599px) {
	.main-header .header-lower .logo-box {
		padding-left: 0;
	}

	.service-block-three .inner-box {
		padding: 30px 25px;
		min-height: auto;
	}

	.banner-section-two .content-box {
		padding: 200px 0 150px;
	}

	.banner-section-two .content-box .title,
	.sec-title h2 {
		font-size: 36px;
	}

	.banner-section-four .content-box .title {
		font-size: 42px;
		letter-spacing: 0;
	}

	.banner-section-four .content-box .text {
		font-size: 16px;
		line-height: 26px;
	}


	.main-header .header-lower .logo-box {
		min-width: auto;
		margin-right: 0px;
		max-width: 140px;
	}


	.main-header .header-lower .logo-box .logo img {
		max-width: 140px;
	}

	.call-to-action-five .title-box .title {
		font-size: 30px;
	}

	.sec-title .sub-title:before,
	.feature-block .text br,
	.main-slider .hidden-mobile,
	.main-slider .text br {
		display: none;
	}

	.feature-block .inner-box {
		text-align: center;
	}

	.feature-block .title-box {
		padding-left: 0;
		display: block;
	}

	.feature-block .icon {
		position: relative;
		margin: 0 auto 20px;
	}

	.feature-block .text {
		font-size: 14px;
		line-height: 24px;
	}

	.service-block .content-box {
		padding: 25px 0px 0;
	}

	.offer-section .image-column .caption-box {
		position: relative;
		align-items: center;
		text-align: center;
		max-width: 100%;
	}

	.offer-section .content-column .info-box {
		padding-left: 0;
	}

	.offer-section .content-column .info-box .icon {
		position: relative;
		margin-bottom: 20px;
		display: block;
	}

	.call-to-action .title-box .title {
		font-size: 32px;
	}

	.testimonial-block .text {
		font-size: 18px;
		line-height: 26px;
	}

	.about-info-box {
		padding: 30px 0 10px;
		flex-direction: column;
		text-align: center;
	}

	.about-info-box .icon {
		height: 120px;
		width: 120px;
		border-radius: 50%;
	}

	.about-info-box .content {
		padding: 20px 20px;
	}

	.about-info-box .number {
		font-size: 24px;
	}

	.about-section-two .image-column .experience {
		transform: scale(.7);
		animation: none;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	.branch-block .inner-box {
		padding: 35px 30px 30px;
	}

	.footer-bottom .inner-container {
		padding: 20px 15px;
		margin-left: -15px;
		margin-right: -15px;
	}

	.banner-section .content-box .title {
		font-size: 42px;
	}

	.about-section-three .image-column .image-2,
	.banner-carousel .owl-nav {
		display: none;
	}

	.banner-section .content-box {
		padding: 140px 0;
	}

	.features-section-two .bottom-text .theme-btn {
		display: block;
		margin-left: 0;
		margin-top: 10px;
	}

	.about-section-four .content-column .blockquote-style-one {
		padding-right: 20px;
		margin-bottom: 30px;
	}

	.about-section-four .content-column .btn-box {
		flex-direction: column
	}

	.about-section-four .content-column .btn-box .theme-btn {
		order: 2;
		margin-right: 0;
	}

	.founder-info {
		margin-bottom: 30px;
	}

	.feature-block-three .inner-box {
		padding: 30px 20px;
		text-align: center;
		border-right: 0;
	}

	.feature-block-three .image {
		position: relative;
		left: 0;
		top: 0;
		margin-bottom: 20px;
	}

	.location .location-info {
		padding: 20px 30px;
	}

	.location .info-list li {
		font-size: 14px;
		line-height: 24px;
	}

	.why-choose-us .content-column .image-box .caption {
		padding: 20px 30px 25px;
	}

	.contact-section .image-column .image-box .image {
		margin-bottom: 0;
	}

	.contact-section .image-column .image-box .image:before {
		display: none;
	}

	.contact-section .image-column .image-box {
		padding: 0;
	}

	.contact-section .image-column .image-box .info-box {
		position: relative;
		top: 0;
		padding: 30px 20px;
		text-align: center;
	}

	.contact-section .image-column .image-box .info-box .icon {
		position: relative;
		left: 0;
		top: 0;
		display: block;
	}

	.service-block-three {
		flex: 0 0 100%;
	}

	.video-section .title-box .text br,
	.service-block-three h6 br {
		display: none;
	}

	.about-section-five .content-column .inner-column .list-style-three li {
		width: 100%;
	}

	.about-section-five .content-column .inner-column .list-style-three {
		margin-bottom: 30px;
	}

	.about-section-five .content-column .btn-box {
		flex-direction: column
	}

	.about-section-five .content-column .btn-box .theme-btn {
		order: 2;
		margin-right: 0;
	}

	.offer-section-three .content-column .info-box {
		padding-left: 0;
		text-align: center
	}

	.offer-section-three .content-column .info-box .count {
		position: relative;
		display: inline-flex;
		margin-bottom: 20px;
	}

	.offer-section-three .image-column .video-box .play-btn {
		height: 80px;
		width: 80px;
		font-size: 20px;
	}

	.offer-section-three .image-column .image-box {
		height: 100%;
		width: 100%;
	}

	.offer-section-three .image-column .image-box:before {
		display: none;
	}

	.contact-section-two .info-column .inner-column {
		padding: 30px 0 0;
	}

	.contact-form.light {
		padding: 30px 25px 35px;
	}

	.contact-section-two .info-column .info-box {
		padding-left: 0;
		text-align: center
	}

	.contact-section-two .info-column .info-box .icon {
		position: relative;
		display: inline-flex;
		margin-bottom: 20px;
	}

	.feature-block-four .inner-box {
		padding: 20px;
		text-align: center
	}

	.feature-block-four .inner-box .content {
		padding: 30px 20px 30px;
	}

	.feature-block-four .inner-box .content .icon {
		position: relative;
		display: block;
		left: 0;
		top: 0;
		margin-bottom: 10px;
	}

	.location-block-two .inner-box {
		padding: 30px;
	}

	.call-to-action-four .title-box .sub-title {
		font-size: 14px;
	}

	.call-to-action-four .title-box .title {
		font-size: 28px;
	}

	.banner-section-three .content-box .btn-box .theme-btn {
		padding: 10px 30px 8px;
	}

	.about-block-four {
		padding-left: 0;
	}

	.about-block-four .icon {
		position: relative;
		display: inline-flex;
		margin-bottom: 20px;
	}

	.work-tabs .tab-buttons {
		flex-wrap: wrap
	}

	.testimonial-block-three .inner-box {
		padding: 15px;
	}

	.testimonial-block-three .content-box {
		padding: 30px 30px 40px;
		border-radius: 0 0 0 40px;
	}

	.testimonial-block-three .content-box .text {
		text-align: center;
	}

	.testimonial-block-three .content-box .info-box {
		padding-left: 0;
		text-align: center;
		margin-bottom: 20px;
	}

	.testimonial-block-three .image-box {
		position: relative;
		left: 0;
		max-width: 100%;
	}

	.testimonial-block-three .image-box .thumb {
		margin-bottom: 0;
	}

	.testimonial-block-three .image-box .thumb:before {
		display: none;
	}

	.testimonial-block-three .image-box .thumb img {
		border-radius: 40px 40px 0 0;
	}

	.feature-block-five .inner-box .count {
		height: 100px;
		width: 100px;
		bottom: -55px;
		border-width: 15px;
	}

	.why-choose-us-three .content-column .info-box {
		padding-left: 0;
	}

	.why-choose-us-three .content-column .info-box .icon {
		position: relative;
		display: inline-block;
		margin-bottom: 20px;
	}

	.why-choose-us-three .content-column .list-style-three li {
		width: 100%;
		padding-right: 0;
	}

	.contact-info-box {
		padding-left: 80px;
	}

	.feature-block-five .inner-box {
		padding: 70px 30px 90px;
	}

	.call-to-action-five .title-box {
		padding: 80px 20px;
	}

	.contact-section-four .our-values {
		flex-direction: column
	}

	.contact-section-four .info-column .title-box .title {
		font-size: 26px;
	}

	.contact-section-four .info-column .title-box {
		min-height: auto;
		padding: 60px 30px;
	}

	.contact-section-four .our-values .image img,
	.contact-section-four .our-values .image {
		margin-right: 0;
		width: 100%;
	}

	.testimonial-block-four .info-box {
		margin-left: 0;
	}

	.testimonial-block-four .content-box:before {
		border-top-width: 10px;
		border-right-width: 30px;
	}

	.testimonial-block-four .content-box {
		padding: 40px 30px;
		text-align: center;
	}

	.testimonial-block-four .content-box .text {
		font-size: 18px;
		line-height: 28px;
	}

	.testimonial-block-four .content-box .icon-quote {
		height: 40px;
		width: 40px;
		background-size: 18px;
	}

	.faqs-section.style-two .image-column .info-box {
		padding: 35px 25px;
	}

	.faqs-section.style-two .image-column .info-box .title {
		font-size: 24px;
	}

	.faqs-section.style-two .image-column .info-box .icon {
		height: 100px;
		width: 100px;
		font-size: 62px;
	}

	.pricing-block .inner-box,
	.pricing-block.style-two .inner-box {
		padding: 50px 30px 40px;
	}

	.offer-section-four .content-column .info-box,
	.pricing-section .content-column .info-box {
		padding-left: 60px;
	}

	.offer-section-four .content-column .info-box .count,
	.pricing-section .content-column .info-box .icon {
		height: 45px;
		width: 45px;
	}

	.about-section-five .image-box .image {
		padding: 0;
	}

	.about-section-five .content-column .btn-box .info-btn {
		margin-bottom: 20px;
	}

	.service-block-five .inner-box {
		padding: 0;
	}
}

@media only screen and (max-width: 320px) {
	.banner-section .banner-content-wrap .banner-title h1 {
		font-size: 30px;
		line-height: 40px;
	}

	.banner-section .banner-content-wrap .banner-desc {
		width: 100%;
	}

	.banner-section .banner-content-wrap .banner-btn a {
		padding: 15px 33px;
		font-size: 16px;
	}

	.banner-section .banner-content-wrap .banner-autor-info .auto-info .autor-img-box .autor-number span {
		display: none;
	}

	.review-grid {
		grid-template-columns: repeat(1, 1fr);
	}

	.team-section .sec-title.two .title {
		font-size: 22px;
		line-height: 30px;
	}

	.team-wrapper .swiper {
		width: 285px;
	}

	.sec-title .section-title .title {
		font-size: 18px;
		line-height: 28px;
	}

	.sec-title .section-sub-title .sub-title {
		font-size: 15px;
	}

	.why-choose-section .choose-single-box {
		display: block;
	}

	.why-choose-section .choose-single-box .choose-icon {
		margin-bottom: 25px;
	}

	.service-section .service-single-box .service-title h3 {
		font-size: 22px;
	}

	.why-choose-section .choose-thumb .choose-shpe {
		bottom: 0;
		left: 56px;
		right: 38px;
	}

	.testimonial-section .single-testi-box .testi-arrow h3 {
		font-size: 19px;
	}

	.testimonial-section .single-testi-box .testi-autor {
		display: none;
	}

	.testimonial-section .single-testi-box .testi-autor-content {
		padding-left: 0;
	}

	.testimonial-section .single-testi-box .testi-autor-content .autor-title {
		font-size: 18px;
	}

	.testimonial-section .single-testi-box .testi-autor-content .autor-des {
		font-size: 14px;
	}

	.testimonial-section .single-testi-box .testi-desc p {
		font-size: 14px;
	}

	.testimonial-section .single-testi-box .testi-autor-content {
		margin-top: 22px;
	}

	.why-choose-section .why-choose-wrapper::before {
		display: none;
	}

	.portfolio-section .portfolio-single-box .portfolio-content .portfolio-title h3 {
		font-size: 22px;
	}

	.blog-section .blog-single-box .blog-content .blog-title h3 {
		font-size: 16px;
	}

	section.category-section {
		padding: 100px 0 77px;
	}

	.about-section {
		background: url(../images/main-home/about-bg.png);
		padding: 100px 0 100px;
	}

	.service-section {
		padding: 100px 0 70px;
	}

	.team-wrapper .main-profile {
		max-width: 438px !important;
	}

	.slider-warpper .team-arrow-box {
		display: none;
	}

	.team-section {
		padding: 100px 0 100px;
	}

	.why-choose-section {
		padding: 100px 0 80px;
	}

	.testimonial-section {
		padding: 0 15px 297px;
	}

	.portfolio-section {
		padding: 80px 10px 130px;
	}

	.blog-section {
		padding: 100px 0 70px;
	}

	.main-footer {
		padding: 100px 0 36px;
	}

	.why-choose-section .why-choose-wrapper {
		margin-left: 0;
	}

	.testimonial-section .single-testi-box .testi-shape {
		display: none;
	}

	.vedio-wrapper {
		height: 430px;
	}

	.vedio-wrapper .video-bg-buler {
		height: 534px;
		bottom: -259px;
	}

	.vedio-wrapper .video-bg-buler .popup-video {
		height: 70px;
		width: 70px;
		line-height: 70px;
		margin-bottom: 20px;
	}

	.vedio-wrapper .video-bg-buler .popup-video::before {
		left: -10px;
		top: -10px;
		height: 90px;
		width: 90px;
	}

	.vedio-wrapper .video-bg-buler .video-icon {
		bottom: 168px;
	}

	.vedio-wrapper .video-bg-buler .video-icon h5.video-title {
		font-size: 16px;
	}

	.main-footer .footer-bottom .footer-bottom-menu {
		text-align: left;
	}

	.main-footer .footer-bottom .footer-bottom-menu ul li {
		margin-left: 0;
		margin-right: 10px;
	}

	.main-footer .footer-bottom .copyright-text {
		font-size: 11px;
	}

	.main-footer .footer-bottom .footer-bottom-menu ul li a {
		font-size: 13px;
	}

	.banner-section-two .banner-content-wrap .banner-title h1 {
		font-size: 28px;
		line-height: 36px;
	}

	.banner-section-two {
		height: 600px;
	}

	.banner-section-two .banner-content-wrap .banner-desc {
		font-size: 16px;
		width: 100%;
		line-height: 26px;
	}

	.about-section-two .about-item-box .icon-box {
		display: block;
		margin-right: 0;
		margin-bottom: 0;
	}

	.about-section-two .about-item-box .icon-box .icon-box-content p {
		width: 75%;
	}

	.about-section-two .about-item-box .icon-box .icon {
		margin-top: 0;
		margin-bottom: 20px;
	}

	.process-single-box {
		padding: 0;
	}

	.service-section-two .service-single-box .service-content p {
		font-size: 15px;
	}

	.portfolio-section-two .portfolio-single-box::before {
		height: 221px;
	}

	.portfolio-section-two .right-icon-box p {
		width: 100%;
	}

	.breadcumb-area .breadcumb-content .breadcumb-title h4 {
		font-size: 35px;
	}

	.pricing-single-bx {
		padding: 30px 25px 15px;
	}

	.pricing-single-bx .feature ul li {
		font-size: 13px;
		margin-bottom: 11px;
	}

	.pricing-single-bx .feature {
		margin-top: 40px;
	}

	.pricing-single-bx .inner-box .pricing-btn a {
		font-weight: 400;
		font-size: 16px;
		padding: 10px 20px;
	}

	.accordion li a {
		font-size: 15px;
		padding: 17px 18px 17px 18px;
	}

	.accordion li p {
		padding: 20px 8px 25px 20px;
		font-size: 14px;
	}

	.pricing-single-bx .inner-box p.pricing-text {
		line-height: 26px;
		font-size: 14px;
	}

	.testimonial-section-two .single-testi-box {
		padding: 12px 18px 31px;
	}

	.testimonial-section-two .single-testi-box .testi-desc p {
		font-size: 12px;
		line-height: 24px;
		margin-right: 0;
	}

	.testimonial-section-two .single-testi-box .testi-arrow {
		margin-bottom: 28px;
	}

	.blog-section-two .blog-single-box .blog-content .blog-title h3 {
		font-size: 16px;
		line-height: 23px;
	}

	.blog-section-two .blog-single-box .blog-content p {
		font-size: 14px;
		line-height: 26px;
	}

	.blog-pagination .slider-prev,
	.blog-pagination .slider-next {
		display: none;
	}

	.footer-newsletter .newsletter-title {
		font-size: 25px;
	}

	.banner-section.banner-style_three {
		height: 700px;
	}

	.banner-section.banner-style_three .banner-content-wrap .banner-desc {
		width: 100%;
		font-size: 15px;
		line-height: 25px;
	}

	.about-section-three .sec-title .section-desc p {
		width: 100%;
	}

	.service-single-boxs .service-box-contents {
		margin: 30px 15px 30px;
	}

	.service-single-boxs .service-box-contents .service-title h3 {
		font-size: 20px;
		line-height: 35px;
		margin: 14px 0 20px;
	}

	.testimonial-section-three .single-testi-box .testi-arrow h3 {
		font-size: 20px;
	}

	.testimonial-section-three .single-testi-box .testi-autor-content {
		padding-left: 0;
	}

	.testimonial-section-three .single-testi-box .testi-desc p {
		font-size: 14px;
		line-height: 24px;
	}

	.testimonial-section-three .single-testi-box .testi-autor-content::before {
		display: none;
	}

	.portfolio-single-box-three .portfolio-content h3 a {
		font-size: 22px;
		line-height: 26px;
	}

	.team-card .team-info h2 {
		font-size: 20px;
	}

	.team-card .team-info {
		padding: 0 12px 29px;
	}

	.team-card .team-info .social-links {
		position: inherit;
	}

	.team-card .team-info .social-links a {
		display: inline-block;
		text-align: center;
		margin-top: 25px;
	}

	.team-info-details h2.team-info-title {
		font-size: 24px;
	}

	.portfolio-details .portfolio-details-content .portfolio-details-title {
		font-size: 28px;
	}

	.portfolio-details .portfolio-details-content h4.portfolio-details-title2 {
		font-size: 25px;
	}

	.portfolio-details .gallery {
		grid-template-rows: repeat(2, 123px);
	}

	.blog-details-area .widget-sidber {
		padding: 25px 24px 23px;
	}

	.blog-details-area .single-comment-area {
		padding: 30px 8px 47px;
	}

	.blog-details-area .single-comment-area .blog-details-comment {
		padding: 25px 10px 20px;
	}

	.blog-details-area .single-comment-area .blog-details-comment .blog-details-comment-thumb {
		float: inherit;
		margin-right: 30px;
		margin-bottom: 20px;
	}

	.blog-details-area .blog-details-post .blog-post-box {
		display: none;
	}

	.blog-details-area .blog-details-content {
		padding: 25px 15px 20px;
	}

	.blog-details-area .blog-details-content .blog-details-title {
		font-size: 18px;
		margin: 46px 0 16px;
	}

	.blog-details-area .blog-details-content .blog-details-author-talk {
		padding: 35px 15px 30px;
	}

	.blog-details-area .blog-details-content .blog-details-list-item ul li {
		margin-bottom: 4px;
		font-size: 12px;
	}

	.blog-details-area .blog-details-content .blog-details-title.two {
		font-size: 18px;
	}

	.blog-details-area .blog-details-socila-box {
		padding: 19px 18px 18px;
	}

	.blog-details-area .blog-details-socila-box .blog-details-category span a {
		padding: 5px 10px;
	}

	.blog-details-area .widget-sidber .widget-catefories-tags a {
		padding: 6px 14px;
	}

	.blog-details-area {
		padding: 100px 0 70px;
	}



}







/* Large laptops: 1200px - 1299px */
@media (min-width: 1200px) and (max-width: 1299px) {}

/* Laptops: 992px - 1199px */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Medium screens: 768px - 991px */
@media (min-width: 768px) and (max-width: 991px) {

	section.category-section {
		padding: 100px 0 77px;
	}

	.about-section {
		background: url(../images/main-home/about-bg.png);
		padding: 100px 0 100px;
	}

	.service-section {
		padding: 100px 0 70px;
	}

	.team-section .sec-title.two {
		margin-left: 340px;
	}

	.team-section .sec-title.two .title {
		font-size: 30px;
	}

	.team-wrapper .swiper {
		width: 697px;
	}

	.team-section {
		padding: 100px 0 100px;
	}

	.why-choose-section {
		padding: 100px 0 80px;
	}

	.testimonial-section {
		padding: 0 15px 297px;
	}

	.portfolio-section {
		padding: 100px 50px 130px;
	}

	.blog-section {
		padding: 100px 0 70px;
	}

	.main-footer {
		padding: 100px 0 36px;
	}

	.mobile-nav-toggler.style-two {
		color: var(--heading-color);
	}


}

/* Tablets: 600px - 767px */
@media (min-width: 600px) and (max-width: 767px) {
	section.category-section {
		padding: 100px 0 77px;
	}

	.about-section-two .about-item-box .icon-box .icon-box-content p {
		width: 87%;
	}

	.about-section {
		background: url(../images/main-home/about-bg.png);
		padding: 100px 0 100px;
	}

	.service-section {
		padding: 100px 0 70px;
	}

	.team-section .sec-title.two {
		margin-left: 340px;
	}

	.team-section .sec-title.two .title {
		font-size: 30px;
	}

	.team-section .main-profile {
		max-width: 560px;
	}

	.team-wrapper .swiper {
		width: 558px !important;
	}

	.why-choose-section .choose-single-box .choose-content {
		padding: 47px 44px 24px 30px;
	}

	.slider-warpper .team-arrow-box {
		display: none;
	}

	.team-wrapper .swiper {
		width: 697px;
	}

	.team-section {
		padding: 100px 0 100px;
	}

	.why-choose-section {
		padding: 100px 0 80px;
	}

	.testimonial-section {
		padding: 0 15px 297px;
	}

	.portfolio-section {
		padding: 100px 50px 130px;
	}

	.blog-section {
		padding: 100px 0 70px;
	}

	.main-footer {
		padding: 100px 0 36px;
	}
}

/* Small tablets: 480px - 599px */
@media (min-width: 480px) and (max-width: 599px) {

	.main-header .header-lower.style_two::before {
		display: none;
	}

	.main-header .header-lower.style_two::after {
		display: none;
	}

	.main-header .header-lower.style_two {
		background: var(--theme-color2)
	}

	.about-section-two .about-item-box .icon-box .icon-box-content p {
		width: 128%;
	}

	section.category-section {
		padding: 100px 0 77px;
	}

	.about-section {
		background: url(../images/main-home/about-bg.png);
		padding: 100px 0 100px;
	}

	.service-section {
		padding: 100px 0 70px;
	}

	.team-section .sec-title.two {
		margin-left: 340px;
	}

	.team-section .sec-title.two .title {
		font-size: 30px;
	}

	.team-wrapper .main-profile {
		max-width: 438px !important;
	}

	.team-wrapper .swiper {
		width: 441px;
	}

	.slider-warpper .team-arrow-box {
		display: none;
	}

	.team-section {
		padding: 100px 0 100px;
	}

	.why-choose-section {
		padding: 100px 0 80px;
	}

	.testimonial-section {
		padding: 0 15px 297px;
	}

	.portfolio-section {
		padding: 100px 50px 130px;
	}

	.blog-section {
		padding: 100px 0 70px;
	}

	.main-footer {
		padding: 100px 0 36px;
	}

	.why-choose-section .why-choose-wrapper {
		margin-left: 0;
	}

	.why-choose-section .choose-single-box .choose-content h3 {
		font-size: 22px;
	}

	.why-choose-section .choose-single-box {
		gap: 20px;
	}

	.why-choose-section .choose-single-box .choose-content p {
		font-size: 14px;
		line-height: 23px;
	}

	.testimonial-section .single-testi-box .testi-shape {
		display: none;
	}

	.testimonial-section .single-testi-box .testi-desc p {
		font-size: 19px;
	}

	.vedio-wrapper {
		height: 430px;
	}

	.vedio-wrapper .video-bg-buler {
		height: 534px;
		bottom: -259px;
	}

	.vedio-wrapper .video-bg-buler .popup-video {
		height: 70px;
		width: 70px;
		line-height: 70px;
		margin-bottom: 20px;
	}

	.vedio-wrapper .video-bg-buler .popup-video::before {
		left: -10px;
		top: -10px;
		height: 90px;
		width: 90px;
	}

	.vedio-wrapper .video-bg-buler .video-icon {
		bottom: 168px;
	}

	.vedio-wrapper .video-bg-buler .video-icon h5.video-title {
		font-size: 16px;
	}

	.main-footer .footer-bottom .footer-bottom-menu {
		text-align: left;
	}

	.main-footer .footer-bottom .footer-bottom-menu ul li {
		margin-left: 0;
		margin-right: 10px;
	}

	.banner-section-two .banner-content-wrap .banner-title h1 {
		font-size: 51px;
		line-height: 65px;
	}

	.banner-section-two {
		height: 685px;
	}

	.service-section-two .service-single-box .service-content p {
		margin: 0 63px 15px;
	}

	.portfolio-section-two::after {
		bottom: -1px;
		height: 377px;
	}


}