/*=====================================
    Start About Section
=======================================*/
.about-section {
    background: url(../images/main-home/about-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 120px 0 105px;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-only(xl) {
        padding: 120px 0 120px;
    }

    @include for-sm {
        padding: 120px 0 120px;
    }


    .sec-title {
        margin-bottom: 45px;
    }

    .sec-title .section-desc p {
        font-size: 18px;
        line-height: 28px;
        width: 92%;
        margin: 16px 0 0;

        @include media-breakpoint-only(xl) {
            width: 100%;
        }

        @include for-sm {
            width: 75%;
        }

        @include for-xxs {
            font-size: 16px;
            width: 100%;
        }
    }

    .about-thumb-wrapper {
        position: relative;
        margin-left: -60px;

        @include media-breakpoint-only(xl) {
            margin-left: -10px;
        }

        @include media-breakpoint-only(lg) {
            margin-left: 0;
        }

        @include media-breakpoint-only(md) {
            margin-left: 0;
        }

        @include for-sm {
            margin-left: 0;
        }

        .about-thumb {
            position: relative;
            z-index: 1;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                width: 200%;
                height: 0%;
                left: 50%;
                top: 50%;
                background-color: rgba(255, 255, 255, 0.3);
                transform: translate(-50%, -50%) rotate(-45deg);
                z-index: 1;
            }

            &:hover::before {
                height: 250%;
                transition: all 600ms linear;
                background-color: transparent;
            }

            .about-img {
                position: absolute;
                top: 5px;
                right: 0;

                @include for-lg {
                    right: 23%;
                }

                @include for-md {
                    right: 13%;
                }

                @include for-sm {
                    right: 5%;
                }

                @include for-xs {
                    right: 0;
                    width: 38%;
                }

            }

        }

        .about-shape-dot {
            position: absolute;
            bottom: 70px;
            left: 92px;
            animation: bounceleft 6s linear infinite;
        }
    }

    .about-right-wrapper {
        margin-left: 88px;

        @include for-xxl {
            margin-left: 0;
        }

        @mixin for-xl {
            margin-left: 0;
        }

        @mixin for-lg {
            margin-left: 0;
        }

        @mixin for-md {
            margin-left: 0;
        }

        @mixin for-sm {
            margin-left: 0;
        }

        @mixin for-xs {
            margin-left: 0;
        }

        @mixin for-xxs {
            margin-left: 0;
        }

    }

    .about-item-box {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        display: grid;
        position: relative;
        margin-bottom: 70px;

        @include media-breakpoint-only(lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include for-xxs {
            display: block;
        }

        &::before {
            position: absolute;
            content: "";
            left: 0;
            bottom: -25px;
            width: 88%;
            border: 1px dashed rgba(104, 104, 104, 0.3019607843);
        }

        .about-list {
            li {
                display: inline-block;
                font-family: var(--title-font);
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                color: var(--text-color);
                margin-bottom: 14px;

                img {
                    margin-right: 18px;
                    margin-top: -4px;
                }

                @include for-xxs {
                    display: block;
                    font-size: 16px;
                }

                @include for-xs {
                    font-size: 14px;
                }
            }

            &:last-child {
                margin-left: -25px;

                @include for-xxs {
                    margin-left: 0;
                }
            }

        }
    }

    .about-shape1 {
        position: absolute;
        z-index: 1;
        right: -62px;
        bottom: -6px;
        opacity: 0.2;
        animation: bounceleft 8s linear infinite;
        filter: brightness(0);
    }

    &.inner-style {
        background: linear-gradient(180deg, #FFFFFF 0%, #E0FFF1 100%);

        .about-shape1 {
            opacity: 1;
            filter: brightness(1);

            @include for-lg {
                display: none;
            }
        }

    }

}

/*=====================================
    Start About Section Two
=======================================*/
.about-section-two {
    background: url(../images/home-2/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 120px 0 105px;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @include for-lg {
        padding: 120px 0 55px;
    }

    @include for-md {
        padding: 100px 0 35px;
    }

    .sec-title {
        margin-bottom: 45px;
    }

    .sec-title .section-desc p {
        width: 92%;
        margin: 17px 0 67px;

        @include for-lg {
            width: 70%;

        }

        @include for-xs {
            width: 93%;

        }
    }

    .about-thumb-wrapper {
        position: relative;

        .about-thumb {
            position: relative;
            z-index: 1;

            @include for-lg {
                margin-bottom: 30px;
            }
        }

        .since-box {
            position: absolute;
            bottom: -5%;
            right: 110px;

            @include for-lg {
                bottom: 8%;
                right: inherit;
                left: 42%;

            }

            @include for-sm {
                left: 55%;
            }

            @include for-xxs {
                display: none;

            }

            .content-box {
                position: relative;
                background: #fff;
                width: 200px;
                padding: 35px 0 15px;


                text-align: center;

                &::before {
                    content: "";
                    position: absolute;
                    width: 25px;
                    height: 200px;
                    background-color: #3c00ff;
                    left: -25px;
                    bottom: 0;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 200px;
                    height: 25px;
                    background-color: #3c00ff;
                    left: -25px;
                    bottom: -25px;
                }

                span {
                    display: block;
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--theme-color1);
                    font-family: var(--title-font);
                    margin: 33px 0 5px;
                }

                h2 {
                    font-size: 34px;
                    font-weight: 600;
                    color: var(--theme-color1);
                }
            }
        }

        .about-shape-dot {
            position: absolute;
            bottom: -55px;
            left: 0;
            animation: bounceleft 6s linear infinite;
            opacity: 0.4;
            opacity: 0.5;

            @include for-lg {
                display: none;
            }
        }
    }

    .about-right-wrapper {
        margin-left: 89px;

        @include for-xl {
            margin-left: 0;
        }
    }

    .about-item-box {
        position: relative;

        .icon-box {
            display: flex;
            gap: 25px;
            margin-right: 87px;
            margin-bottom: 37px;

            .icon {
                flex-shrink: 0;
                height: 80px;
                width: 80px;
                line-height: 80px;
                text-align: center;
                background: var(--theme-color-white);
                border-radius: 50%;
                margin-top: -25px;

                svg {
                    transition: 0.5s;
                }
            }

            .icon-box-content {
                h4 {
                    font-size: 22px;
                    font-weight: 500;
                    color: #3A3B4E;
                    margin-bottom: 14px;
                }

                p {
                    font-size: 18px;
                    line-height: 28px;
                    color: var(--text-color);

                    @include for-lg {
                        width: 71%;
                    }

                    @include for-xs {
                        width: 88%;
                    }

                    @include for-xxs {

                        width: 100%;
                    }
                }
            }

            &:hover .icon svg {
                filter: brightness(0);
                transform: scaleX(-1);
            }
        }

    }

    // Slider Text
    .slider-sid-text {
        position: absolute;
        top: 37%;
        right: -8%;
        transform: rotate(90deg);

        @include for-md {
            right: -18%;
        }

        @include for-sm {
            display: none;
        }

        h1 {
            font-size: 210px;
            font-weight: 700;
            font-family: var(--title-font);
            text-transform: uppercase;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(8 3 1);
            color: transparent;
            -webkit-mask-image: linear-gradient(-75deg, rgba(185, 28, 28, 0.15) 50%, #09001d3d 50%, rgba(255, 255, 255, 0.15) 70%);
            -webkit-mask-size: 200%;

        }
    }

    .about-shape1 {
        position: absolute;
        z-index: -1;
        left: -5px;
        bottom: -6px;
        animation: bounceleft 8s linear infinite;

        @include for-xxl {
            display: none;
        }
    }

}

/*=====================================
    Start About Section Three
=======================================*/
.about-section-three {
    padding: 120px 0 200px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #FFFFFF 0%, #EFE5FF 100%);
    z-index: 1;

    @include for-lg {
        padding: 100px 0 100px;
    }


    .sec-title {
        margin-bottom: 45px;
    }

    .sec-title .section-desc p {
        font-size: 18px;
        line-height: 28px;
        width: 59%;
        margin: 16px 0 108px;

        @include media-breakpoint-only(md) {
            width: 69%;
        }

        @include for-sm {
            width: 90%;
        }
    }

    .about-thumb-wrapper {
        position: absolute;
        right: 15%;
        top: 130px;
        z-index: -1;

        @include for-xl {
            right: 15px;
        }

        @include for-lg {
            right: -11%;
            top: 30%;
        }

        @include media-breakpoint-only(md) {
            display: none;
        }

        @include for-sm {
            display: none;
        }

        .about-thumb {
            position: relative;
            z-index: 1;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                width: 200%;
                height: 0%;
                left: 50%;
                top: 50%;
                background-color: rgba(255, 255, 255, 0.3);
                transform: translate(-50%, -50%) rotate(-45deg);
                z-index: 1;
            }

            &:hover::before {
                height: 250%;
                transition: all 600ms linear;
                background-color: transparent;
            }

            @include for-lg {
                img {
                    width: 76%;
                }
            }
        }

    }

    .about-shape1 {
        position: absolute;
        z-index: 1;
        right: -62px;
        bottom: -6px;
        opacity: 0.2;
        animation: bounceleft 8s linear infinite;
        filter: brightness(0);
    }

}

// about list box

.about-main-box {
    .about-box-inner {
        display: flex;
        align-items: end;
        gap: 35px;

        @include for-xs {
            display: block;
        }
    }

    .about-content {
        .about-list {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px 0;
            padding: 0;
            margin-bottom: 55px;

            @include media-breakpoint-only(xl) {
                grid-template-columns: repeat(1, 1fr);
                margin-bottom: 22px;
            }

            @include for-lg {
                grid-template-columns: repeat(1, 1fr);
                margin-bottom: 22px;
            }

            @include for-xs {
                margin-top: 30px;
            }


            li {
                display: inline-block;
                font-family: var(--title-font);
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                color: var(--text-color);

                img {
                    margin-right: 18px;
                    margin-top: -4px;
                }
            }
        }
    }
}