// main footer charity 
.main-footer {
    background: url(../images/main-home/footer-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 120px 0 36px;



    &::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 100px;
        background: rgba(255, 255, 255, 0.1);
        width: 100%;
        height: 1px;

        @include for-xxs {
            bottom: 120px;
        }
    }

    .main-footer-section {
        position: relative;
        z-index: 1;
        padding-bottom: 86px;

        .footer-widget-content {
            padding-right: 45px;

            .footer-desc {
                color: rgba(255, 255, 255, 0.7098039216);
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                padding: 36px 0 82px;
                font-family: var(--text-font);
            }

            &.social {
                padding-right: 0px;
            }

            .footer-social {
                li {
                    display: inline-block;
                    display: inline-block;
                    margin-right: 7px;

                    a {
                        display: inline-block;
                        color: var(--theme-color-white);
                        background: rgba(255, 255, 255, 0.1);
                        width: 45px;
                        height: 45px;
                        line-height: 45px;
                        border-radius: 5px;
                        text-align: center;
                        transition: 0.5s;
                        position: relative;
                        z-index: 1;
                        font-size: 15px;

                        &::before {
                            position: absolute;
                            z-index: -1;
                            content: "";
                            left: 0;
                            top: 0;
                            height: 100%;
                            width: 100%;
                            transform: scale(0);
                            border-radius: 5px;
                            background-color: var(--theme-color2);
                            transition: all 300ms ease;
                        }

                        &:hover::before {
                            transform: scale(1);
                        }
                    }
                }
            }

            .footer-title {
                color: var(--theme-color-white);
                font-weight: 500;
                font-size: 28px;
                margin: 2px 0 40px;

                @include for-xxs {
                    font-size: 24px;
                    margin: 20px 0 40px;
                }
            }

            .footer-menu {
                li {
                    a {
                        display: flex;
                        justify-content: space-between;
                        color: var(--theme-color-white);
                        font-family: var(--text-font);
                        font-weight: 400;
                        font-size: 18px;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                        padding-bottom: 13px;
                        margin-bottom: 14px;
                        transition: 0.5s;

                        i {
                            display: inline-block;
                            font-weight: 400;
                        }

                        &:hover {
                            color: var(--theme-color2);
                        }
                    }
                }
            }

            .location {
                color: var(--theme-color-white);
                font-family: var(--text-font);
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                padding-bottom: 30px;

                span {
                    display: block;
                    color: #A1A1A1;
                    font-family: var(--text-font);
                    font-weight: 400;
                    font-size: 18px;
                    padding-bottom: 10px;
                }
            }

            .contact-info {
                .email-text {
                    a {
                        display: block;
                        color: #A1A1A1;
                        font-family: var(--text-font);
                        font-weight: 400;
                        font-size: 18px;
                        padding-bottom: 10px;
                    }
                }

                .email-address {
                    a {
                        display: inline-block;
                        color: var(--theme-color-white);
                        font-family: var(--text-font);
                        font-weight: 400;
                        font-size: 18px;
                    }
                }
            }
        }

        .footer-shape {
            position: absolute;
            top: 10px;
            right: -265px;
            animation: upDown 1.5s ease-in-out 1.6s forwards infinite alternate;
        }

        .footer-shape2 {
            position: absolute;
            bottom: -40px;
            left: -220px;
            animation: upDown 1.8s ease-in-out 1.8s forwards infinite alternate;
        }
    }

    .footer-bottom {
        position: relative;
        z-index: 1;
        padding: 38px 0 0;


        .copyright-text {
            color: var(--theme-color-white);
            font-weight: 400;
            font-size: 16px;

            @include media-breakpoint-only(md) {
                font-size: 14px;
            }

            @include for-xxs {
                font-size: 14px;
            }

            a {
                display: inline-block;
                color: #ffffffad;
            }
        }

        .footer-bottom-menu {
            text-align: right;

            @include media-breakpoint-only(sm) {
                text-align: left;
            }

            @include for-xxs {
                text-align: left;
            }


            ul {
                li {
                    display: inline-block;
                    margin-left: 43px;

                    @include media-breakpoint-only(md) {
                        margin-left: 15px;
                    }

                    @include media-breakpoint-only(sm) {
                        margin-left: 0;
                        margin-right: 20px;
                    }

                    @include for-xxs {
                        margin-left: 0;
                        margin-right: 20px;
                    }

                    a {
                        color: var(--theme-color-white);
                        display: inline-block;
                        font-family: var(--title-font);
                        font-weight: 500;
                        font-size: 16px;
                        transition: 0.5s;

                        @include for-xxs {
                            font-size: 15px;
                        }

                        &:hover {
                            color: var(--theme-color2);
                        }
                    }
                }
            }
        }
    }

    &.footer_two {
        background: url(../images/home-2/footer-bg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        z-index: 1;

        @include for-md {
            padding: 100px 0 36px;
        }

        &::before {
            display: none;
        }

        .footer-bottom {
            position: relative;
            z-index: 1;
            padding: 20px 0 20px;
            background: linear-gradient(90deg, #09001D 0%, #140537 49.77%, #09001D 100%);
            margin: 20px 15px 0;
        }

        .footer-sp1 {
            position: absolute;
            right: 6%;
            top: 32%;
            z-index: -1;
        }
    }
}

// News Letter

.footer-newsletter {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 100px;
    margin-bottom: 100px;

    .container-card {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include for-sm {
            display: block;
        }
    }

    .newsletter-title {
        font-size: 45px;
        font-weight: 700;
        color: var(--theme-color-white);

        @include media-breakpoint-only(md) {
            font-size: 28px;
        }

        @include for-xxs {
            font-size: 35px;
        }
    }

    .newsletter-form {
        display: flex;
        align-items: center;
        border-radius: 50px;
        overflow: hidden;
        padding: 20px;
        flex: 1;
        max-width: 648px;
        height: 80px;
        background: #E0FFF126;

        @include media-breakpoint-only(lg) {
            max-width: 460px;
        }

        @include media-breakpoint-only(md) {
            max-width: 440px;
        }

        @include for-sm {
            max-width: 100%;
            height: 65px;
        }

        input {
            flex: 1;
            border: none;
            padding: 0 15px;
            font-size: 16px;
            background: transparent;
            color: #fff;
            font-weight: 500;

            &::placeholder {
                color: #ccc;
            }

            &:focus {
                outline: none;
            }
        }

        .submit-btn {
            background: var(--theme-color3);
            border: none;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s ease;
            font-size: 18px;
            font-weight: 600;

            @include for-sm {
                width: 40px;
                height: 40px;
            }

            span {
                font-size: 18px;
                color: var(--theme-color1);
            }

            &:hover {
                background: var(--theme-color2);
                transform: rotate(90deg);
                color: var(--theme-color-white);
            }

            &:hover {
                span {
                    color: var(--theme-color-white);
                }
            }
        }
    }
}