/*===================================================
    Start Pricing Section
=====================================================*/

.pricing-section {
    background: url(../images/home-2/pricing-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 60px 0 90px;
    position: relative;
    z-index: 1;

    @include for-md {
        padding: 60px 0 70px;
    }

    .pricing-left-sp {
        position: absolute;
        top: 8%;
        left: 4%;
        z-index: -1;
    }

    .pricing-right-sp {
        position: absolute;
        top: 16%;
        right: 8%;
        z-index: -1;
        opacity: 0.5;
    }
}

.pricing-main-bx {

    .pricing-popular {
        font-size: 26px;
        font-weight: 600;
        text-align: center;
        background: var(--theme-color2);
        color: var(--theme-color-white);
        padding: 26px 0;
        opacity: 0;
        transition: all 300ms ease;
        position: relative;
        bottom: -30px;
        z-index: 1;

        &.active-pb {
            bottom: 0;
            opacity: 1;

        }
    }

    &:hover {
        .pricing-popular {
            opacity: 1;
            bottom: 0;
        }
    }
}



.pricing-single-bx {
    position: relative;
    background: url(../images/home-2/pricing-box-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 30px;
    z-index: 1;
    transition: all 300ms ease;
    padding: 40px 40px 24px;
    overflow: hidden;

    @include media-breakpoint-only(lg) {
        padding: 35px 25px 15px;
    }

    .inner-box {
        position: relative;
        transition: all 300ms ease;

        h4.title {
            font-size: 26px;
            font-weight: 500;
            margin: 30px 0 10px;
        }

        p.pricing-text {
            line-height: 28px;
            font-size: 18px;
        }

        .price-box {
            display: flex;
            align-items: center;
            gap: 12px;
            margin: 28px 0 6px;

            h4 {
                font-weight: 400;
                font-size: 40px;
                line-height: 60px;
                color: var(--theme-color1);
                font-family: var(--text-font);
            }

            .validaty {
                margin-top: -15px;
                font-size: 18px;
                font-family: var(--title-font);
            }
        }



        .pricing-btn a {
            display: block;
            font-weight: 500;
            font-size: 18px;
            color: var(--theme-color1);
            background: var(--theme-color-white);
            padding: 14px 20px;
            border-radius: 30px;
            text-align: center;
            position: relative;
            z-index: 1;
            overflow: hidden;

            &::before {
                position: absolute;
                right: 0;
                top: 0;
                width: 0;
                height: 100%;
                background: var(--theme-color2);
                z-index: -1;
                content: '';
                transition: 0.5s;
            }

            i {
                margin-left: 10px;
            }

        }

        &:hover .pricing-btn a {
            color: var(--theme-color-white);

        }

        &:hover .pricing-btn a::before {
            width: 100%;
            left: 0;
        }
    }

    .feature {
        margin-top: 64px;
        position: relative;

        .feature-title {
            font-weight: 500;
            font-size: 20px;
        }

        ul {
            li {
                font-weight: 400;
                font-size: 18px;
                line-height: 26px;
                display: flex;
                align-items: center;
                gap: 12px;
                margin-bottom: 22px;
                font-family: var(--text-font);

                @include media-breakpoint-only(xl) {
                    font-size: 16px;
                    margin-bottom: 20px;
                }

                @include media-breakpoint-only(md) {
                    font-size: 15px;
                    margin-bottom: 17px;
                }

                @include media-breakpoint-only(lg) {
                    font-size: 14px;
                    margin-bottom: 14px;
                }
            }
        }
    }


}