.breadcumb-area {
    background-image: url(../images/inner-image/breadcumb-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 180px 0 185px;

    .breadcumb-content {
        .breadcumb-title {
            h4 {
                font-size: 55px;
                font-weight: 700;
                color: var(--theme-color-white);
                margin: 0 0 15px;
            }
        }

        ul {
            li {
                display: inline-block;
                margin: 0 25px;
                color: var(--theme-color-white);

                a {
                    display: inline-block;
                    font-size: 20px;
                    color: var(--theme-color-white);
                    font-weight: 400;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 10px;
                        height: 1px;
                        right: -30px;
                        top: 13px;
                        background: var(--theme-color-white);
                        transform: rotate(31deg);
                    }

                    &::after {
                        position: absolute;
                        content: "";
                        width: 10px;
                        height: 1px;
                        right: -30px;
                        top: 18px;
                        background: var(--theme-color-white);
                        transform: rotate(-35deg);
                    }
                }
            }
        }
    }

}